In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [70]:
data = pd.read_csv('movie_bd_v5.csv', index_col = 'imdb_id') # объявим imdb_id как индекс
data.sample(5)

,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
imdb_id,,,,,,,,,,,,,
tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004
tt1572315,20000000,47241945,Texas Chainsaw 3D,Alexandra Daddario|Dan Yeager|Bill Moseley|Mar...,John Luessenhop,Evil wears many faces.,A young woman learns that she has inherited a ...,92,Horror|Thriller,Nu Image Films|Lions Gate,1/3/2013,5.4,2013
tt0441048,11000000,46396427,Dhoom 2,Hrithik Roshan|Abhishek Bachchan|Aishwarya Rai...,Sanjay Gadhvi,Diwali 2006: Dhoom Machale once again!,"In the second installment of the Dhoom series,...",147,Drama|Action|Thriller|Crime,Yash Raj Films,11/24/2006,6.5,2006
tt0496806,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,6.4,2007
tt0899106,18000000,36133014,Love Happens,Aaron Eckhart|Jennifer Aniston|Judy Greer|Mart...,Brandon Camp,Sometimes when you least expect it...,Dr. Burke Ryan is a successful self-help autho...,109,Drama|Romance,Universal Pictures|Stuber Productions|Camp / T...,9/18/2009,5.5,2009

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1889 entries, tt0369610 to tt0163676
Data columns (total 13 columns):
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(8)
memory usage: 206.6+ KB

# Предобработка

In [72]:
answers = {} # dictionary for answers

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = pd.to_datetime(data.release_date)

# create new columns
data['profit'] = data.revenue - data.budget
data['release_month'] = data['release_date'].dt.month

In [73]:
# ПЕРЕВЕДЕМ ПЕРЕЧИСЛЕНИЯ В ФОРМАТ СПИСКОВ
data['cast_list'] = data['cast'].apply(lambda x: x.split('|'))
data['director_list'] = data['director'].apply(lambda x: x.split('|'))
data['genres_list'] = data['genres'].apply(lambda x: x.split('|'))
data['production_companies_list'] = data['production_companies'].apply(lambda x: x.split('|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [74]:
answers['1'] = 'tt1298650. Pirates of the Caribbean: On Stranger Tides'

In [75]:
data[data.budget == data.budget.max()]['original_title']

imdb_id
tt1298650    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [76]:
answers['2'] = 'tt0279111. Gods and Generals'

In [77]:
data[data.runtime == data.runtime.max()]['original_title']

imdb_id
tt0279111    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [78]:
answers['3'] = 'tt1449283. Winnie the Pooh'

In [79]:
data[data.runtime == data.runtime.min()]['original_title']

imdb_id
tt1449283    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [80]:
answers['4'] = '110 minutes'

In [81]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [82]:
answers['5'] = '107 minutes'

In [83]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [84]:
answers['6'] = 'tt0499549. Avatar'

In [85]:
data[data.profit == data.profit.max()]['original_title']

imdb_id
tt0499549    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [86]:
answers['7'] = 'tt1210819. The Lone Ranger'

In [87]:
data[data.profit == data.profit.min()]['original_title']

imdb_id
tt1210819    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [88]:
answers['8'] = '1478'

In [89]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [90]:
answers['9'] = 'tt0468569. The Dark Knight'

In [91]:
new_data = data[data.release_year == 2008]
new_data[new_data.revenue == new_data.revenue.max()]['original_title']

imdb_id
tt0468569    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [92]:
answers['10'] = 'tt1210819. The Lone Ranger'

In [93]:
new_data2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
new_data2[new_data2.profit == new_data2.profit.min()]['original_title']

imdb_id
tt1210819    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [94]:
answers['11'] = 'Drama'

In [95]:
c = Counter()
for line in data.genres_list:
    for genre in line:
        c[genre] +=1
genres = pd.Series(c)
genres.sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [96]:
genres = data['genres_list'].explode()
genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [97]:
answers['12'] = 'Drama'

In [98]:
genres_profitable = data[data.profit>0]['genres_list'].explode()
genres_profitable.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [99]:
genres_profit = data[['profit','genres_list']].explode('genres_list')
new = genres_profit[genres_profit.profit > 0].groupby('genres_list').profit.count()
new.sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [100]:
answers['13'] = 'Peter Jackson'

In [101]:
new = data[['director_list','revenue']].explode('director_list')
grouped = new.groupby('director_list').revenue.sum()
grouped.sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [102]:
answers['14'] = 'Robert Rodriguez'

In [103]:
df_genres = pd.DataFrame(data['genres_list'].explode())
df_director = pd.DataFrame(data['director_list'].explode())
new = df_director.merge(df_genres, on = 'imdb_id', how = 'outer')
new[new.genres_list == 'Action'].director_list.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [104]:
answers['15'] = 'Chris Hemsworth'

In [105]:
new = data[['cast_list','revenue','release_year']].explode('cast_list')
grouped = new[new.release_year == 2012].groupby('cast_list').revenue.sum()
grouped.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [106]:
answers['16'] = 'Matt Damon'

In [107]:
actors_hb = data[data['budget'] > data['budget'].mean()]['cast_list'].explode()
actors_hb.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [108]:
answers['17'] = 'Action'

In [109]:
new = data[data.cast.str.contains('Nicolas Cage')]
new.genres_list.explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [110]:
answers['18'] = 'tt0267626. K-19: The Widowmaker'

In [111]:
new = data[data.production_companies.str.contains('Paramount Pictures')]
new[new.profit==new.profit.min()]['original_title']

imdb_id
tt0267626    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [112]:
answers['19'] = '2015'

In [113]:
new_data = data.groupby('release_year').revenue.sum()
new_data.sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [114]:
answers['20'] = '2014'

In [115]:
wb_studio = data[data.production_companies.str.contains('Warner Bros')]
new = wb_studio.groupby('release_year').profit.sum()
new.sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [116]:
answers['21'] = 'September'

In [117]:
new_data = data.groupby('release_month').original_title.count()
new_data.sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [118]:
answers['22'] = '450'

In [119]:
data[data.release_month.isin([6,7,8])].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [120]:
answers['23'] = 'Peter Jackson'

In [121]:
new = data[data.release_month.isin([12,1,2])]['director_list'].explode()
new.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [122]:
answers['24'] = 'Four By Two Productions'

In [123]:
new = data[['original_title','production_companies_list']].explode('production_companies_list')
new['original_title_length'] = new['original_title'].apply(lambda x: len(x))
grouped = new.groupby('production_companies_list').original_title_length.mean()
grouped.sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [124]:
answers['25'] = 'Midnight Picture Show'

In [125]:
new = data[['overview','production_companies_list']].explode('production_companies_list')
new['overview_length'] = new['overview'].apply(lambda x: len(x))
grouped = new.groupby('production_companies_list').overview_length.mean()
grouped.sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [126]:
answers['26'] = ['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

In [127]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)].original_title.to_list()

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [128]:
answers['27'] = ['Daniel Radcliffe & Emma Watson', 'Daniel Radcliffe & Rupert Grint']

In [129]:
from itertools import combinations
c = Counter()
list_of_pairs = [] # пустой список, куда будем складывать пары актеров

for i in range(0,len(data['cast_list'])):
    for pair in combinations(data['cast_list'][i],2):
        # для каждого фильма создаем не повторяющиеся комбинации по 2 актера
        new = pair[0]+' & '+pair[1] # из кортежа делаем строку, чтобы можно было добавить в список
        list_of_pairs.append(new)

for item in list_of_pairs:
    c[item] +=1 #считаем количество повторений пар в списке

x = pd.Series(c)
x.sort_values(ascending=False)

Daniel Radcliffe & Emma Watson        8
Daniel Radcliffe & Rupert Grint       8
Rupert Grint & Emma Watson            7
Johnny Depp & Helena Bonham Carter    6
Ben Stiller & Owen Wilson             6
                                     ..
Emma Stone & Josh Brolin              1
Ryan Gosling & Nick Nolte             1
Ryan Gosling & Josh Brolin            1
Sean Penn & Nick Nolte                1
Chris Pratt & Bryce Dallas Howard     1
Length: 18121, dtype: int64

# Submission

In [130]:
# ответы к каждому вопросу
answers

{'1': 'tt1298650. Pirates of the Caribbean: On Stranger Tides',
 '2': 'tt0279111. Gods and Generals',
 '3': 'tt1449283. Winnie the Pooh',
 '4': '110 minutes',
 '5': '107 minutes',
 '6': 'tt0499549. Avatar',
 '7': 'tt1210819. The Lone Ranger',
 '8': '1478',
 '9': 'tt0468569. The Dark Knight',
 '10': 'tt1210819. The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'tt0267626. K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': ['Daniel Radcliffe & Emma Watson', 'Daniel Radcliffe & Rupert Grint']}

In [131]:
# количество ответов
len(answers)

27